@use 'scss/base/vars' as *;

.swiper {
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination {
  flex-grow: 1;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: calc($index * 0.5);
}

.swiper-vertical > .swiper-pagination-bullets,
.swiper-pagination-vertical.swiper-pagination-bullets {
  top: 0;
  left: 0;
  margin: 0;
  transform: none;
  display: flex;
  flex-direction: row;
}

.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-vertical.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0;
}
.swiper-pagination-bullet {
  width: auto;
  height: auto;
  opacity: 1;
  background: transparent;
  font-size: calc($index * 1.35);
  font-weight: 600;
  color: $light-gray-color;
  cursor: pointer;
  transition: color 0.5s $transition-timing-function;

  @media (hover: hover) {
    &:hover {
      color: $dark-gray-color;
    }
  }
}

.swiper-pagination-bullet-active {
  color: $black-color;
}

.swiper-button-prev,
.swiper-button-next {
  height: calc($index * 2.2);
  width: calc($index * 2.2);
  background-color: transparent;
  color: $black-color;
  border: 1px solid $black-color;
  box-shadow: $box-shadow-small;
  transition: box-shadow 0.5s $transition-timing-function;

  &::after {
    height: calc($index * 1.3);
    width: calc($index * 1.6);
    content: '';
    background-image: url(../../assets/images/icons/arrow-right.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (hover: hover) {
    &:hover {
      box-shadow: $box-shadow-none;
    }
  }
}

.swiper-button-prev {
  &::after {
    transform: scaleX(-1);
  }
}
