@use 'scss/base/mixins' as *;
@use 'scss/base/vars' as *;

.container {
  position: fixed;
  inset: 0;
  overflow: hidden;
  z-index: -1;

  & .description {
    position: absolute;
    top: 0;
    left: 0;
    bottom: calc($index * 28 / 2 + $index * 3.2 / 2);
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: calc($index);
    gap: calc($index);

    &__title {
      opacity: 0;
      @include fadeInWithTranslate('down', 15%);
      animation: fadeInWithTranslate-down 0.5s $transition-timing-function
        forwards;
    }

    &__text {
      text-align: center;
      font-size: calc($index * 1.2);
      opacity: 0;
      @include fadeInWithTranslate('down', 15%);
      animation: fadeInWithTranslate-down 0.5s 0.3s $transition-timing-function
        forwards;
    }
  }

  & .slider {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%) rotate(var(--rotationAngle));
    width: calc($index * 28);
    height: calc($index * 28);
    border-radius: 100%;
    transition: transform 0.5s $transition-timing-function;
    outline: 2px dashed $dark-gray-color;
    outline-offset: calc($index * (-3.5));
  }

  & .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    rotate: calc((360deg / var(--quantity-slides)) * var(--slide-index) * (-1));

    &__content {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: calc($index * 7);
      width: calc($index * 7);
      padding: calc($index * 1.5);
      border-radius: 100%;
      overflow: hidden;
      background-image: url(../../assets/images/bg.jpg);

      &::before {
        content: '';
        position: absolute;
        top: calc(($index * 7) / 2);
        left: 50%;
        height: calc($index * 7.5);
        width: calc($index * 7.5);
        background-image: url(../../assets/images/icons/circle.svg);
        background-repeat: no-repeat;
        background-size: cover;
        transform: translate(-50%, -50%) rotate(15deg);
      }
    }

    &__icon {
      object-fit: contain;
      transition: 1s $transition-timing-function;
    }
  }

  & .controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: calc(($index * 28));
    padding: 0 calc($index);
    left: 50%;
    bottom: calc(($index * 28) / 2 - (($index * 3.2) / 2));
    transform: translate(-50%, 0);

    &__button {
      width: calc($index * 3.2);
      height: calc($index * 3.2);

      @media (hover: hover) {
        &:hover {
          box-shadow: $box-shadow-none;
        }
      }

      &--prev img {
        transform: scale(-1) rotate(-45deg);
      }

      &--next img {
        transform: rotate(45deg);
      }
    }
  }
}
